.c-form__checkbox label > span {
    font-size: 0;
}
.link-under {
    text-decoration: underline;
}
.err_msg {
    width: 100%;
    text-align: center;
}
.single-news h3 {
    margin-top: 3em;    
}
.single-news div[class^="col2"] {
    margin-top: .8em;
    margin-bottom: 1.2em;
}
.box__border {
    margin-top: 1.4em;
    margin-bottom: 2.2em;
}
.thumb-center {
    text-align: center;
}
ul.bogo-language-switcher li a:before {
    display: block;
}
.bogo-language-switcher li.current a:after {
    width: 100%;
}
.c-contact__action li:not(:empty):nth-of-type(n+2) {
    margin-left: 12px;
}
.c-contact__action li:not(:empty):nth-of-type(2) input {
    background-color: #FF9090;
}
.col2-75 + .title-lv3 {
    margin-top: 1.2em;
}
.p-company--infor-cnt tr th {
    flex: 0 0 30%;
    background: #FAE9CC;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 1.2em;    
}
.p-company--infor-cnt .table table tbody tr td:before {
    display: none;
}
.header-menu ul li.ja {
    order: -1;
} 
@media screen and (max-width: 1050px) {
    .p-company--infor-cnt .table table tr {
        flex-direction: row;
        margin-bottom: 0;
    }
    .p-company--infor-cnt .table table tr:not(:last-child) {
        border-bottom: none;
    }
}
@media screen and (max-width: 767px) {

}