@charset "UTF-8";
/* -------------------
  ACCORDION
--------------------*/
.accordion {
	margin-bottom: 8px;
	&:last-child {
		margin-bottom: 0;
	}
	&-label {
		background: #F2F2F2;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: fs(16);
    font-weight: bold;
    align-items: center;
    padding: 17px 60px 17px 20px;
    position: relative;
    transition: all 0.6s;
    &.active {
    	background: #FFFF5C;
			&:before {
				transform: translateY(-50%) rotate(0);
		    -webkit-transform: translateY(-50%) rotate(0);
		    opacity: 1;
			}
			&:after {
				opacity: 0;
				transform: translateY(-50%) rotate(-180deg);
		    -webkit-transform: translateY(-50%) rotate(-180deg);
			}
		}
		&:before {
	    position: absolute;
	    right: 24px;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);

	    transform: translateY(-50%) rotate(-90deg);
	    -webkit-transform: translateY(-50%) rotate(-90deg);
	    display: inline-block;
	    width: 18px;
	    height: 4px;
	    background: url(../images/common/icon-minus.svg) no-repeat;
	    content: "";
	    opacity: 0;
	    transition: all .3s;
	    @include mq(sm2) {
				right: 20px;
			}
		}
		&:after {
      position: absolute;
	    right: 24px;
	    top: 50%;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    display: inline-block;
	    width: 18px;
	    height: 18px;
	    background: url(../images/common/icon-plus.svg) no-repeat;
	    transition: all .3s;
	    content: "";
	    @include mq(sm2) {
				right: 20px;
			}
		}
	}
	&-cnt {
		display: none;
		font-size: fs(14);
		line-height: 1.6;
    padding: 25px 15px 30px;
	}
}