@charset "UTF-8";
/* -------------------
  TABS
--------------------*/

.tabs {
	&-navWrapper {
    @include mq() {
	    white-space: nowrap;
	    overflow-x: auto;
	  }
	}
	&-nav {
		display: flex;
    width: 100%;
	}
	&-item {
		width: 33.33%;
    background-color: #fff;
    padding: 20px 15px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #000;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    &:hover {
    	border-top-color: transparent;
    	background-color: transparent;
    }
    &.active {
      position: relative;
    	background-color: transparent;
    	border-top-color: #000;
      border-left: solid 1px #000;
      border-right: solid 1px #000;
      border-bottom: none;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #FFFF5C;
        display: block;
        content: "";
      }
    }
	}
  &-panel {
    padding: 100px 0 0;
    &.type2 {
      padding: 100px 180px 0;
      @include mq() {
        padding: 50px 50px 0;
      }
      @include mq(sm2) {
        padding: 50px 20px 0;
      }
    }
  }
	&-cnt {
		// background-color: #fff;
	}
}
