//ani 1
.pikopiko {
  animation: pikopiko 1s steps(2, start) infinite;
}

@keyframes pikopiko {
  0% {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

// ani 3, 4
.fuwafuwa {
   animation: fuwafuwa 3s infinite;
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fuwafuwa3 {
   animation: fuwafuwa3 3s infinite;
}

@keyframes fuwafuwa3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fuwafuwa-island {
   // animation: fuwafuwa-island 3s infinite;
  animation: fuwafuwa-island ease-in-out 5s infinite both;
}

@keyframes fuwafuwa-island {
  0% {
    transform: translate3d(0, -0.5rem, 0)
  }
  50% {
    transform: translate3d(0, 0.5rem, 0)
  }
  100% {
    transform: translate3d(0, -0.5rem, 0)
  }
}

.fuwafuwa-cloud {
   animation: fuwafuwa-cloud 10s infinite;
}

@keyframes fuwafuwa-cloud {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}



// ani 5, 6, 7
.fuwafuwa2 {
  -webkit-animation: horizontal2 1s ease-in-out infinite alternate;
  -webkit-animation-duration: 1.1s;
  img {
    -webkit-animation: vertical 1s ease-in-out infinite alternate;
  }
}

@-webkit-keyframes horizontal1 {
    0% { -webkit-transform:translateX( -3px); }
  100% { -webkit-transform:translateX(  0px); }
}

@-webkit-keyframes horizontal2 {
    0% { -webkit-transform:translateX(  3px); }
  100% { -webkit-transform:translateX(  0px); }
}

@-webkit-keyframes vertical {
    0% { -webkit-transform:translateY(-10px); }
  100% { -webkit-transform:translateY(  0px); }
}

//ani 11
.pikopiko2 {
  animation: pikopiko2 1s steps(2, start) infinite;
}

@keyframes pikopiko2 {
  0% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-3deg);
  }
}