.p-about {
	padding-top: 80px;
	.p-top {
		&--intro {
			margin-bottom: 100px;
			&-cnt {
				padding: 0;
			}
			&-box1 {
				&-infor {
					font-size: fs(32);
					line-height: fs(54);
					@include mq() {
						font-size: fs(22);
						line-height: fs(32);
					}
				}
				@include mq() {}
			}
			&-box2 {
				width: 990px;
				max-width: 100%;
				margin: -1.56vw 6.25vw 0;
				@include mq() {
			    width: 100%;
			    max-width: 100%;
			    margin-left: auto;
			    margin-right: -15px;
			    margin-top: -25px;
				}
				&Wrap {

				}
				&-infor {
					font-size: fs(16);
					line-height: fs(32);
					@include mq() {
						font-size: fs(14);
						line-height: fs(28);
					}
					p {
						margin-bottom: 15px;
					}
				}
				&-2col {
					display: flex;
					@include mq(sm2) {
						display: block;
					}
					&-left {

					}
					&-right {
						width: 150px;
						margin-left: 20px;
						flex-shrink: 0;
						display: flex;
						align-items: flex-end;
						@include mq(sm2) {
							width: 80%;
							margin: 40px auto 0;
						}
					}
				}
			}
		}
	}
	&--cnt {
		.title-lv2 {
			margin-bottom: 60px;
			@include mq(sm2) {
				margin: 0 auto 25px;
			}
		}
		&-list {

		}
		&-item {
			margin-bottom: 65px;
			&:last-child {
				margin-bottom: 0;
			}
			.title-lv3 {
				margin-bottom: 40px;
				@include mq(sm2) {
					margin-bottom: 25px;
				}
			}
			&-inner {
				display: flex;
				@include mq(sm2) {
					flex-flow: column-reverse;
				}
			}
			&-des {
				.link-border {
					margin-top: 35px;
				}
			}
			&-thumb {
				width: 400px;
				height: 270px;
				margin-left: 40px;
				flex-shrink: 0;
				overflow: hidden;
				@include mq() {
					width: 300px;
					height: 200px;
				}
				@include mq(sm2) {
					width: 100%;
					height: 230px;
					margin-left: 0;
					margin-bottom: 20px;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}