.p-service {
	padding-top: 80px;
	&.type2 {
		padding-top: 50px;
	}
	&--ttl {

	}
	&--cnt {

	}
	&--detail {
		margin-bottom: 100px;
		padding: 100px 80px;
		background-color: #fff;
		border: 1px solid #000000;
		@include mq(sm2) {
			padding: 50px 20px;
		}
		&-product {
			margin-bottom: 80px;
			@include mq(sm2) {
				margin-bottom: 50px;
			}
			&-infor {
				.title-lv2 {
					margin-bottom: 40px;
					@include mq(sm2) {
						margin-bottom: 20px;
					}
				}
				.desc {
					margin-bottom: 60px;
					@include mq(sm2) {
						margin-bottom: 30px;
					}
				}
			}
			&-thumb {
				img {
					border: solid 1px #000;
		    }
			}
		}
		&-infor {

		}
		&-row {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
			.title-lv3 {
				margin-bottom: 35px;
				@include mq(sm2) {
					margin-bottom: 20px;
				}
			}
			.col2-75 {
				&--right {
					img {
						border: solid 1px #000;
			    }
				}
			}
			.thumb {
				&-wrapper {
					margin-bottom: 30px;
				}
				img {
					width: 100%;
				}
			}
		}
	}
	&--infor {
		&-row {
			margin-bottom: 90px;
			@include mq(sm2) {
				margin-bottom: 50px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			.title-lv2 {
				margin-bottom: 50px;
			}
			.title-lv3 {
				margin-bottom: 40px;
			}
		}
	}
	&--features {
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&-item {
			width: 23%;
			margin-bottom: 30px;
			padding: 20px 15px;
			background-color: #CDEEFC;
			border: solid 1px #000;
			@include mq() {
				width: 48%;
			}
			@include mq(sm2) {
				width: 100%;
			}
			&-ttl {
				font-size: fs(16);
				line-height: 1.5;
				@include mq(sm2) {
					font-size: fs(14);
					line-height: 1.3;
				}
			}
			&-thumb {
				margin-top: 15px;
				height: 100px;
				text-align: center;
				img {
					height: 100%;
					width: auto;
				}
			}
		}
		&-ttlWrap {
			// position: absolute;
			// left: 0;
			// top: 0;
			// display: flex;
			// align-items: center;
			padding: 20px 15px;
			font-size: fs(22);
			font-weight: bold;
			background-color: #fff;
			border: solid 1px #000;
			line-height: 1;
			@include mq(sm2) {
				display: block;
				position: relative;
				z-index: 2;
				// margin-bottom: -10px;
				// margin-right: 5px;
			}
		}
		&-numberWrap {
			display: flex;
			align-items: baseline;
			margin-right: 18px;
			@include mq(sm2) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
		&-label {
			margin-right: 5px;
			font-size: fs(32);
			line-height: 1;
			font-weight: normal;
		}
		&-number {
			font-size: fs(40);
			line-height: 1;
			font-weight: normal;
		}
		&-cnt {
			// margin-left: 25px;
			padding: 15px 0 0;
			// border: solid 1px #000;
			font-size: fs(15);
			line-height: fs(22);
			@include mq(sm2) {
				font-size: fs(12);
			}
		}

	}
	&--points {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 50px 0 60px;
		&-item {
			width: 23%;
			margin-bottom: 30px;
			padding: 30px 15px 15px;
			background-color: #CDEEFC;
			border: solid 1px #000;
			@include mq() {
				width: 48%;
			}
			@include mq(sm2) {
				width: 100%;
			}
			&-thumb {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 25px;
				height: 110px;
				text-align: center;
				img {
					height: 100%;
					width: auto;
				}
			}
		}
		&-numberWrap {
			position: absolute;
			left: 0;
			bottom: 0;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			width: 124px;
			height: 115px;
			background: url(../images/end/service/bg-points.svg) no-repeat;
			@include mq(sm2) {
				top: 0;
			}
		}
		&-label {
			font-size: fs(28);
			line-height: 1;
		}
		&-number {
			font-size: fs(66);
			line-height: 1;
		}
		&-cnt {
			margin-top: 10px;
			padding: 20px 15px;
			font-size: fs(22);
			font-weight: bold;
			background-color: #fff;
			border: solid 1px #000;
			@include mq(sm2) {
				padding: 10px;
			}
			&-inner {
				padding: 22px 25px;
				background-color: #fff;
				border: solid 1px #000;
				@include mq(sm2) {
					padding: 120px 10px 22px;
				}
			}
			&-ttl {
				font-size: fs(16);
				font-weight: bold;
				@include mq(sm2) {
					font-size: fs(14);
				}
			}
	 	}
	}

	.p-top {
		&--technology {
	    margin: 0 0 70px;
	    padding: 50px 0 50px 65px;
			background: url(../images/common/bg-qq.svg) top left/28.43vw no-repeat;
			@include mq() {
				background: url(../images/common/bg-qq.svg) top left/250px no-repeat;
			}
			@include mq(sm2) {
				padding-left: 0;
			}
			&-cnt {
				margin-bottom: 45px;
				@include mq() {
					margin-bottom: 0;
				}
				&-infor {
					width: 58%;
					flex-shrink: 0;
					@include mq(sm2) {
						width: 100%;
						padding-left: 50px;
						margin-top: 0;
					}
					.desc {
						padding-left: 70px;
						@include mq(sm2) {
							padding-left: 0;
						}
						&:last-child {
							margin-top: 20px;
						}
					}
				}
				&-img {
					width: 50%;
					@include mq(sm2) {
						width: 50%;
						margin: 0 auto 30px;
					}
					img {
		        top: -125px;
				    right: -57px;
				    width: 40vw;
				    @include mq() {
				    	right: 0;
				    	top: 0;
				    }
					}
				}
			}
			&-direct {
				padding-left: 70px;
				@include mq() {
					text-align: left;
				}
			}
		}

		&--service {
			padding: 0;
			margin-bottom: 0;
			&-row {
				&:last-child {
					margin-bottom: 0;
				}
			}
			&-list {
		    padding: 3.5vw 120px 0 108px;
		    @include mq(sm2) {
					padding: 0 8.25vw 0 6.69vw;
				}
			}
		}
	}


	&--intro {
		position: relative;
		margin: 80px 0 200px;

		@include mq() {
			margin: 60px 0 80px;
    }

		.title-lv2 {
			transform: translate(-140px, -50%);
			-webkit-transform: translate(-140px, -50%);
			@include mq() {
				transform: translate(-100px, -50%);
				-webkit-transform: translate(-100px, -50%);
	    }
	    @include mq(sm2) {
		    transform: translate(-60px, -50%);
				-webkit-transform: translate(-60px, -50%);
	    }
		}
		&-inner {
			width: 840px;
			max-width: 100%;
			margin-left: 80px;
			@include mq() {
				margin-left: 40px;
	    	width: calc(100% - 40px);
	    }
		}
		&-cnt {
			margin-bottom: 60px;
			padding: 0 180px 80px 60px;
			background: #6D9CE8 url(../images/common/pattern-bg01.svg) top left repeat-x;
			background-size: 30%;
			border: solid 1px #000;
			@include mq(sm2) {
				margin-bottom: 30px;
		    padding: 0 20px 20px;
	    }
	    &.type2 {
	    	background: #FAE9CC url(../images/common/pattern-bg03.svg) top left repeat-x;
	    }
			.desc4 {
				width: 410px;
				max-width: 100%;
			}
		}
		&-infor {
			.title-lv3 {
				margin-bottom: 30px;
				@include mq(sm2) {
			    margin-bottom: 20px;
		    }
			}
		}
		&-thumb {
			position: absolute;
	    top: 32%;
	    right: 0;
	    height: 365px;
	    margin-left: auto;
	    overflow: hidden;
	    z-index: 1;
	    @include mq() {
	    	position: static;
	    	margin-top: 40px;
	    	text-align: center;
	    }
	    @include mq(sm2) {
				height: 220px;
	    }
	    img {
	    	border: solid 1px #000;
	    }
		}
	}

	&--products {
		&-list {

		}
		&-item {
			margin-bottom: 60px;
			&:last-child {
				margin-bottom: 0;
			}
			.title-lv3 {
				margin-bottom: 40px;
				@include mq() {
					margin-bottom: 20px;
		    }
			}
			&-inner {
				display: flex;
				@include mq() {
					display: block;
		    }
			}
			&-thumb {
				flex-shrink: 0;
				width: 400px;
				height: 270px;
				max-width: 100%;
				margin-right: 40px;
				@include mq() {
					width: 100%;
					height: 260px;
					margin-bottom: 20px;
		    }
		    @include mq(sm2) {
					height: 240px;
		    }
		    img {
					border: solid 1px #000;
		    }
			}
			&-cnt {
				&.type2 {
					display: flex;
					flex-flow: column;
					justify-content: space-between;
					.link-border {
						display: inline-block;
					}
				}
				.title-lv4 {
					margin-bottom: 30px;
					@include mq() {
						margin-bottom: 20px;
			    }
				}
				.desc2 {
					margin-bottom: 50px;
					@include mq() {
						margin-bottom: 30px;
			    }
				}
			}
		}
	}

}