.p-tech {
	.title-box {
		font-size: fs(32);
		@include mq() {
			font-size: fs(24);
		}
		@include mq(sm2) {
			font-size: fs(20);
		}
		&Wrap {
			&.heading {
				margin-bottom: 50px;
				@include mq() {
					margin-bottom: 30px;
				}
			}
		}
	}
	&--intro {
		position: relative;
		padding: 100px 0 320px;
		@include mq() {
			padding: 100px 0 150px;
		}
		@include mq(sm2) {
			padding: 100px 0 80px;
		}
		&-bg {
			position: absolute;
			top: 50px;
			left: -70px;
			z-index: 0;
			opacity: .6;

		}
		&-img {
			position: absolute;
			right: -120px;
			top: -40px;
			width: 544px;
			z-index: 2;
			@include mq() {
				width: 40vw;
				right: 0;
				top: 0;
				transform: translateY(60%);
				-webkit-transform: translateY(60%);
			}
			@include mq(sm2) {
				top: 200px;
				width: 30vw;
			}
		}
		&-inner {
			position: relative;
			z-index: 5;
		}
		&-cnt {
			width: 700px;
			margin-left: 72px;
			@include mq() {
				width: 64%;
				margin-left: 20px;
			}
			@include mq(sm2) {
				width: 60%;
				margin-left: 0;
			}
			.title-bold {
				margin-bottom: 20px;
				@include mq(sm2) {
					font-size: fs(15);
				}
			}
		}
	}
	&--function {
		margin-bottom: 100px;
		@include mq() {
			margin-bottom: 20px;
		}
		&-inner {
			margin-top: 40px;
			@include mq() {
				.ani-border2, 
				.ani-border3,
				.ani-border4,
				.ani-border5 {
					display: none;
				}
			}
		}
		&-row01 {
			position: relative;
			padding-left: 340px;
	    padding-top: 70px;
	    @include mq() {
	    	padding-top: 0;
				padding-left: 40vw;
			}
			@include mq(sm2) {
				padding-left: 30vw;
			}
			&-img {
				position: absolute;
				width: 338px;
				left: 30px;
				top: 0;
				z-index: 1;
				@include mq() {
					width: 40vw;
					left: 0;
				}
				@include mq(sm2) {
					width: 30vw;
				}
			}
			&-cnt {
				position: relative;
				width: 650px;
		    padding: 65px 90px 120px 40px;
				z-index: 1;
				@include mq() {
					width: 50vw;
					padding: 50px 40px 60px 20px;
				}
				@include mq(sm2) {
					width: 70vw;
					padding: 30px 25px 60px 20px;
				}
			}
		}
		&-row02 {
			position: relative;
			padding-left: 535px;
			@include mq() {
				padding-left: 40vw;
			}
			@include mq(sm2) {
				padding-left: 30vw;
			}
			&-img {
				position: absolute;
				width: 253px;
		    left: 360px;
		    top: -60px;
				z-index: 1;
				@include mq() {
					width: 22vw;
					top: 0;
					left: 50px;
				}
				@include mq(sm2) {
					width: 30vw;
					left: 0;
				}
			}
			&-cnt {
				position: relative;
				width: 640px;
				padding: 90px 0 120px 90px;
				z-index: 0;
				@include mq() {
					width: 50vw;
					padding: 50px 40px 60px 20px;
				}
				@include mq(sm2) {
					width: 70vw;
					padding: 30px 25px 60px 20px;
				}
			}
		}
		&-row03 {
			position: relative;
			@include mq() {
				padding-left: 40vw;
			}
			@include mq(sm2) {
				padding-left: 30vw;
			}
			&-img {
				position: absolute;
				width: 380px;
        right: 170px;
		    top: -90px;
				z-index: 1;
				@include mq() {
					width: 35vw;
					top: 0;
					left: 0;
				}
				@include mq(sm2) {
					width: 30vw;
					left: 0;
				}
			}
			&-cnt {
				position: relative;
				padding: 80px 595px 140px 90px;
				z-index: 0;
				@include mq() {
					width: 50vw;
					padding: 50px 40px 60px 20px;
				}
				@include mq(sm2) {
					width: 70vw;
					padding: 30px 25px 60px 20px;
				}
			}
		}
		&-row04 {
			position: relative;
			@include mq() {
				padding-left: 40vw;
			}
			@include mq(sm2) {
				padding-left: 30vw;
			}
			&-img {
				position: absolute;
		    width: 390px;
		    left: -90px;
		    top: -115px;
				z-index: 1;
				@include mq() {
					width: 40vw;
					top: 100px;
					left: 0;
				}
				@include mq(sm2) {
					width: 30vw;
					top: 30px;
					left: 0;
				}
			}
			&-cnt {
				position: relative;
				padding: 80px 100px 0 290px;
				z-index: 0;
				@include mq() {
					width: 50vw;
					padding: 50px 40px 60px 20px;
				}
				@include mq(sm2) {
					width: 70vw;
					padding: 30px 25px 60px 20px;
				}
			}
		}
	}
	&--activity {
		&-inner {
			padding: 70px 0 0;
		}
		&-row {
			display: flex;
			margin-bottom: 80px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-left {
			width: 480px;
			flex-shrink: 0;
			@include mq() {
				width: 35vw;
			}
			._img {
				position: relative;
				width: 360px;	
				@include mq() {
					width: 28vw;
				}
				img {
					width: 100%;
				}
				._ttl {
					position: absolute;
					right: -20px;
					top: -20px;
					width: 54px;
					@include mq() {
						right: -15px;
						width: 40px;
					}
					@include mq(sm2) {
						width: 34px;
					}
					img {
						width: 100%;
					}
				}
			}
			&.type2 {
				._img {
					position: relative;
					width: 300px;	
					margin-left: 70px;
					@include mq() {
						width: 28vw;
						margin-left: 0;
					}
					img {
						width: 100%;
					}
					._ttl {
						position: absolute;
						left: -20px;
						top: -60px;
						width: 54px;
						@include mq() {
							width: 40px;
							left: 0;
						}
						@include mq(sm2) {
							width: 34px;
							top: -112px;
						}
						img {
							width: 100%;
						}
					}
				}
			}
			&.type3 {
				padding-top: 30px;
				._img {
					position: relative;
					width: 450px;	
					@include mq() {
						width: 30vw;
					}
					img {
						width: 100%;
					}
					._ttl {
						position: absolute;
						right: 110px;
						top: -90px;
						width: 54px;
						@include mq() {
							width: 40px;
							right: 50px;
							top: -105px;
						}
						@include mq(sm2) {
							width: 34px;
					    right: 28px;
			        top: -125px;
						}
						img {
							width: 100%;
						}
					}
				}
			}
			&.type4 {
				padding-top: 38px;
				@include mq() {
					padding-top: 0;
				}
				._img {
					position: relative;
					width: 420px;	
					@include mq() {
						width: 30vw;
					}
					img {
						width: 100%;
					}
					._ttl {
						position: absolute;
						left: 150px;
				    top: 15px;
						width: 54px;
						@include mq() {
							width: 40px;
							left: 70px;
						}
						@include mq(sm2) {
							width: 34px;
							top: -65px;
							left: 18px;
						}
						img {
							width: 100%;
						}
					}
				}
			}
		}
		&-right {
			padding-top: 70px;
			@include mq() {
				padding-top: 40px;
			}
			&-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			&-item {
				width: 48%;
				margin-bottom: 30px;
				padding: 3px;
				border: solid 1px #000;
				background-color: #A3E3D2;
				box-shadow: 0 4px 2px -1px #ACC8D4;
				@include mq(sm2) {
					width: 100%;
				}
				&.type2 {
					background-color: #FAC2D5;
				}
				&.type3 {
					background-color: #FAE9CC;
				}
				&.type4 {
					background-color: #94C9EE;
				}

			}
			&-inner {

			}
			&-head {
				padding: 25px;
				background-color: #fff;
				@include mq() {
					padding: 15px;
				}
			}
			&-ttl {

			}
			&-cnt {
				padding: 25px;
				@include mq() {
					padding: 15px;
				}
				.link-border {
					margin-top: 25px;
					@include mq(sm2) {
						width: 100%;
						text-align: center;
						span {
							padding: 10px 18px 10px 26px;
						}
					}
				}
			}
		}
	}
}